.work-experience-entry {
    padding: 0.5em;
}

.work-experience-entry .date {
    font-weight: bold;
    font-size: 1em;
}

.work-experience-entry .company-name {
    font-weight: bold;
    margin-left: 2em;
    font-size: 1.1em;
}

.work-experience-entry .responsibilities {
    display: flex;
    flex-direction: column;
    margin-left: 3.5em;
}

.work-experience-entry .responsibilities * {
    display: list-item;
}


.education-entry {
    padding: 0.5em;
}

.education-entry .dates {
    font-weight: bold;
    font-size: 1em;
}

.education-entry .school-name, .education-entry .details {
    margin-left: 2em;
}

.education-entry .school-name {
    font-size: 1.1em;
    font-weight: bold;
}

.skills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
}

.skills .skill-info {
    background-color: #eaebec;
    font-size: 0.9em;
    margin: 0.1em;
    padding: 0.1em 0.2em;
    display: flex;
    justify-content: space-between;
}

.skills .skill-info .grade {
    width: 5em;
    text-align: right;
}

.accordion-name {
    background-color: #c1de83 !important;
    font-size: 1.5em;
    color: #5e5e5e !important;
}
