.technology-tag {
    font-size: 0.7em;
    white-space: nowrap;
    margin-right: 0.3em;
    margin-top: 0.3em;
    padding: 0 0.2em;
    border: solid 0.14em;
    border-radius: 0.4em;
}


.technology-tag.group-backend {
    border-color: #74952f;
}

.technology-tag.group-frontend {
    border-color: #6bacfc;
}

.technology-tag.group-db {
    border-color: #efb568;
}

.technology-tag.group-aws {
    border-color: #73c273;
}

.technology-tag.group-testing {
    border-color: #b990ff;
}

.technology-tag.group-backend-libs {
    border-color: #d77dad;
}

.technology-tag.group-build {
    border-color: #5e5e5e;
}

.technology-tag.group-deployment {
    border-color: #c26060;
}

.technology-tag.group-other {
    border-color: #c9cbcc;
}
