.header {
    background-color: #74952f;
    color: #d5d7d8;
    padding: 1em;
    height: 2.5em;
}

.header a {
    color: #d5d7d8;
    font-weight: bold;
}

.header .name {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}

.header .contact-details {
    position: relative;
    text-align: right;
    font-size: 0.75em;
}
