.projects {
    display: flex;
    flex-direction: column;
}

.projects .project-info {
    padding: 0.5em;
}

.projects .project-info .project-name {
    font-weight: bold;
    font-size: 1.1em;
}

.projects .project-info .project-role {
    margin-top: 0.2em;
}

.projects .project-info .project-role, .projects .project-info .project-technologies {
    margin-left: 2em;
}

.projects .project-info .project-technologies {
    display: flex;
    flex-wrap: wrap;
}
