body{
    background-color: #c9cbcc;
}

.App {
    display: grid;
    grid-template-columns: 1fr 50em 1fr;
    font-family: Roboto, sans-serif;
    font-size: 0.9em;
}

.canvas {
    background-color: white;
    grid-column-start: 2;
    grid-column-end: 2;
}
